.container-album2 {
  display: flex;
  justify-content: center;
  padding-left: 78px;
  flex-direction: column;
  gap:0;
  background-color:#F1F0EC;
  overflow: hidden;
}

.top-album2{
  padding: 90px 0 0 32px;
}

.top-album2 h5 {
  font-size: 2rem;
  margin: 20px;
  padding-top: 10px;

}
.top-album2 h5, p {
  font-size: 1.5rem;
  margin: 20px;
}

.search-container {
  padding: 10px 20px 0 0;
}

input[type="text"] {
  width: 87%;
  padding: 20px 40px 20px 20px;
  margin-left: 50px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.product-list {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

.product-price {
  color: #4CAF50;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  gap:15px;
  justify-content: center;
  padding-left: 50px;
  -ms-overflow-style: none; /* Ẩn thanh cuộn trong Internet Explorer và Edge */
  scrollbar-width: none; /* Ẩn thanh cuộn trong Firefox */
}

.product-grid::-webkit-scrollbar {
  display: none;
}

.product-item {
  width: fit-content;
  height: auto ;
  border: 1px solid #eee;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 20px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 40px;
}

.product-item:hover {
  transform: translateY(-20px); /* Dịch chuyển sản phẩm lên trên */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Tăng độ đổ bóng để tạo hiệu ứng nổi */
  cursor: pointer;

}


.product-item img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  transition:  all 0.5s ease-in;
}


.price {
  font-size: 15px;
  //font-weight: bold;
  color: #333;
}
