<div id="container">
    <h3>Users</h3>
    <div id="table-container">
        <table class="user-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Adress</th>
                    <th>Status</th>
                </tr>
                <tr class="user-data" *ngFor="let user of users">
                    <td class="user-info">{{ user.userName }}</td>
                    <td class="user-info">{{ user.phone }}</td>
                    <td class="user-info">{{ user.address }}</td>
                    <td class="user-info action-btn">{{user.status}}</td>
                </tr>
            </thead>
        </table>
    </div>
</div>