<div id="container">
    <h3>Users</h3>
    <div id="table-container">
        <table class="user-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Adress</th>
                    <th>Status</th>
                </tr>
                <tr class="user-data">
                    <td class="user-info">John Doe</td>
                    <td class="user-info">123456789</td>
                    <td class="user-info">1234 Main St</td>
                    <td class="user-info action-btn">Unblock</td>
                </tr>
            </thead>
        </table>
    </div>
</div>