<div id="container">
  <h3>User Management</h3>
  <div id="table-container">
    <table class="user-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users" class="user-data">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.status }}</td>

        <td>
          <button (click)="toggleStatus(user)">
            {{ user.status === 'active' ? 'Block' : 'Unblock' }}
          </button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
