<nav class="navbar">
  <!-- Phần bên trái với logo -->
  <div class="navbar-left">
    <a href=""><img src="assets/logo.png" /></a>
  </div>

  <!-- Phần giữa với các liên kết điều hướng -->
  <div class="navbar-center">
    <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Trang Chủ</a>
    <a [routerLink]="['/album1']" routerLinkActive="active">Quần Áo</a>
    <a [routerLink]="['/album2']" routerLinkActive="active"> Phụ Kiện</a>


  </div>

  <div class="navbar-right">
    <!-- Nút kính lúp -->
    <button mat-icon-button class="search-btn" (click)="toggleSearchBar()">
      <mat-icon>search</mat-icon>
    </button>

    <!-- Overlay mờ -->
    <div class="overlay" *ngIf="isSearchPopupVisible" (click)="closeSearchPopup()"></div>

    <!-- Popup tìm kiếm -->
    <div class="search-bar" *ngIf="isSearchPopupVisible">
      <input
        type="text"
        placeholder="Nhập tên sản phẩm..."
        [(ngModel)]="searchQuery"
        (keydown.enter)="searchProducts(searchQuery)"
      />
      <button mat-icon-button (click)="closeSearchPopup()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <a class="profile-btn" [routerLink]="['/login']" routerLinkActive="active"><mat-icon>person</mat-icon></a>
  </div>

</nav>
<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer-logo">
    <a href="">
      <img src="assets/logo.png" />
    </a>
  </div>

  <p>Thành viên nhóm</p>
  <p>Hứa Huỳnh Kim Phú - 22205004 - FE</p>
  <p>Điền Văn Thành - 22206708 - BE</p>
  <p>Nguyễn Mai Thảo Nguyên - 22206208 - BA</p>
  <p>Phạm Nguyễn Gia Thuần - 22204631 - BA</p>
  <p>Nguyễn Minh Hải - 22101603 - BA</p>
  <p>Lý Vĩnh Tuấn - 22207438 - BA</p>
  <p>Liên hệ số điện thoại đặt hàng</p>
  <p>(039)4099688(Phú)</p>

</footer>

