/* Ẩn thanh cuộn ngang và dọc */
body, html {
  overflow: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0;
  background-color: #343A40;
  height: 90px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000;
}

.navbar-left{
  padding: 0 0 0 100px;
}

.navbar-center{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 65px;
  gap: 0px;
  a{
    font-size: 25px;
    font-weight: 400;
    margin-right: 20px;
  }
}

.navbar-right{

  .search-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;

    mat-icon{
      color: white;
  }
    }
  padding-right: 100px;
  input{
    margin: 20px;
    &:hover,
    &.active {
      color: #ff00af;
    }
  }
}

/* Overlay mờ phía sau */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu đen với độ mờ */
  z-index: 999;
}

/* Thanh tìm kiếm */
.search-bar {
  position: fixed;
  top:60px;
  width: 90%;
  height: 50px;
  background: linear-gradient(90deg, #ff7b7b, #9b59b6, #2ecc71);
  background-size: 400% 400%; /* Kích thước gradient để tạo hiệu ứng chuyển động */
  animation: gradientBackground 10s ease infinite; /* Hiệu ứng chuyển màu */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;

  input {
    flex: 1;
    padding: 30px 12px;
    font-size: 26px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
  }

  button {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
  img {
    width: 200px;
    height: 160px;
  }

.navbar-center {
  gap: 20px;
  a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 370;
    transition: 0.3s;
    &:hover,
    &.active {
      color: #ff00af;
    }
  }
}

 .profile-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
  margin-left: 15px;


}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 30px;
  gap: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: fit-content;
  background-color: #454A4C;
  overflow: hidden;
  p{
    color: white;
    font-size: 18px;
  }
}

.footer-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;

  img {
    border: 5px solid #ff72d3;
    width: 200px;
    height: 160px;
  }
}

.search-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
}

.search-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-popup input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.close-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.close-btn:hover {
  background-color: #c759e0;
}

@media (max-width:1570px) {
  .navbar-center{
    padding-left: 300px;
  }
  .navbar-right{
    padding-left: 300px;
  }

}

