<head>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>

<div id="container" *ngFor="let productItem of displayProducts">
  <div id="header">
<!--    <span class="material-symbols-outlined">favorite</span>-->
<!--    <span class="material-symbols-outlined">shopping_cart</span>-->
  </div>
  <div id="content">
    <div id="top">
      <div id="top-left">
        <img id="product-img" [src]="productItem.image" alt="Sản phẩm" />
      </div>
      <div id="top-right">
        <h3>{{ productItem.name }}</h3>
        <p><b>{{ productItem.price | currency: 'VND' }}</b></p>
        <div id="adjust-product">
          <button mat-mini-fab id="plus" class="adjust-btn" (click)="decreaseQuantity(productItem)" ><mat-icon>remove</mat-icon></button>
          <a>{{productItem.userQuantity}}</a>
          <button mat-mini-fab id="minus" class="adjust-btn" (click)="increaseQuantity(productItem)" ><mat-icon>add</mat-icon></button>
        </div>
        <p class="quantity-prod" > số lượng sản phẩm còn: {{this.productItem.quantity}}</p>

        <p class="p-status" *ngIf="productItem.quantity > 0">Còn hàng</p> <!--Product status-->
        <p class="p-status-out" *ngIf="productItem.quantity === 0">Hết hàng</p> <!--Product status-->
        <button mat-flat-button id="add-to-cart" (click)="openPopup()">ĐẶT HÀNG SẢN PHẨM</button>

        <!-- Kiểm tra loại sản phẩm để hiển thị thông tin -->
        <p *ngIf="productItem.type === 'product'">Mã sản phẩm : {{ productItem.id }}</p>
        <p *ngIf="productItem.type === 'product2'">Mã sản phẩm : {{ productItem.id }}</p>
      </div>
    </div>
  </div>

  <div id="popup" *ngIf="showPopup">
    <div id="popup-content">
      <h2>Thông Tin Đặt Hàng</h2>
      <form (ngSubmit)="submitOrder(productItem)">
        <div class="form-group">
          <span class="material-symbols-outlined">person</span>
          <input type="text" placeholder="Full Name" [(ngModel)]="order.fullName" name="fullName" required />
        </div>
        <div class="form-group">
          <span class="material-symbols-outlined">call</span>
          <input type="text" placeholder="Phone Number" [(ngModel)]="order.phoneNumber" name="phoneNumber" required />
        </div>
        <div class="form-group">
          <span class="material-symbols-outlined">location_on</span>
          <input type="text" placeholder="Address" [(ngModel)]="order.address" name="address" required />
        </div>
        <div class="buttons">
          <button type="button" class="btn cancel" (click)="closePopup()">Quay về</button>
          <button type="submit" class="btn submit" >Đặt Hàng</button>
        </div>
      </form>
    </div>
  </div>

  <div id="success-popup" *ngIf="showSuccessPopup">
    <div id="success-content">
      <div class="icon">
        ✔️
      </div>
      <h2>Đặt Hàng Thành Công</h2>
      <p>Cảm ơn bạn đã đặt hàng!</p>
      <button class="btn" (click)="closeSuccessPopup()">Đóng</button>
    </div>

</div>
</div>
