<head>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

</head>
<div id="container">
    <div id="header">
        <span class="material-symbols-outlined" >favorite</span>
        <span class="material-symbols-outlined">shopping_cart</span>
    </div>
    <div id="content">
        <div id="top">
            <div id="top-left">
                <img id="product-img"src="https://via.placeholder.com/250" alt="Sản phẩm" />
            </div>
            <div id="top-right">
                <h3>Túi Bán Nguyệt Mini Đeo Chéo</h3> <!--Product name-->
                <div id="color">
                <p>Màu sắc: </p>
                <div class="color">s</div>
                <div class="color">s</div>
                <div class="color">s</div>
                <div class="color">s</div>
            </div>
                <p><b>293.000VND</b></p> <!--Product price-->

                <div id="adjust-product">
                   <button mat-mini-fab id="plus" class="adjust-btn"><mat-icon>add</mat-icon></button> 
                   <span>1</span>
                   <button mat-mini-fab id="minus" class="adjust-btn"><mat-icon>remove</mat-icon></button>
                </div>

                <p id="p-status">Còn hàng</p> <!--Product status-->
                <button mat-flat-button id="add-to-cart">Thêm vào giỏ hàng</button>
                <p>Mô tả</p>
                <p>Mã sản phẩm: 01</p>
            </div>
        </div>
        <div id="bottom">
            <div id="bottom-left">
                <img class="view-product"src="https://via.placeholder.com/250" alt="Sản phẩm" />
                <img class="view-product"src="https://via.placeholder.com/250" alt="Sản phẩm" />
                <img class="view-product"src="https://via.placeholder.com/250" alt="Sản phẩm" />
            </div>
            <div id="bottom-right">
                <p><b>Lorem ipsum dolor</b></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque architecto deleniti, atque quam dolore doloribus!</p>
            </div>
        </div>
    </div>
</div>
