<div id="container">

  <div class="top_page">
    <h6>Quý khách: Mình thích lịch lãm, mà đồ trendy khó mặc quá!</h6>
    <p>  ——TTLQ: Ok, TTLQ đơn giản rồi nè!</p>
  </div>

  <div class="mid_page">
    <div class="main-content">
      <a href="album1">
        <img src="assets/1.jpg" />
      </a>
    </div>
  </div>

  <div class="top_page">
    <h6>Quý khách: Mình thích đơn giản, nhưng mà vẫn phải 'SANG' </h6>
    <p>  ——TTLQ: Okok, Đơn giản mà sang nè</p>
  </div>

  <div class="mid_page">
    <div class="main-content">
      <a href="album2">
        <img src="assets/2.jpg" />
      </a>
    </div>
  </div>
<!--  &#45;&#45;&#45;&#45;-->

  <div class="top_page">
    <h6>Quý khách: Mình SANG, nhưng mà vẫn phải 'RẺ' thì sao </h6>
    <p>  ——TTLQ: Okok, TẤT CẢ đều có ở TTLQ</p>
  </div>

  <div class="mid_page">
    <div class="main-content">
      <a href="/album1"><img src="assets/3.jpg" /></a>
    </div>
  </div>
</div>
