<div class="container-album1">

<!--  <div class="carousel-container">-->
<!--    <div class="carousel-slide">-->
<!--      <div class="carousel-item">-->
<!--        <img [src]="images[currentSlideIndex]" alt="Image" />-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="top-album1">
    <h5><a href=""><mat-icon>home</mat-icon></a> Album Bán Áo Quần</h5>
    <p>Danh sách sản phẩm áo quần.</p>
  </div>

  <div class="mid-album1">
    <div class="search-container">
      <input
        #searchInput
        type="text"
        placeholder="Tìm kiếm sản phẩm..."
        (input)="searchProducts(searchInput.value)" />
    </div>

    <div class="product-grid">
      <div *ngFor="let product of filteredProducts" class="product-item" (click)="onSelectProduct(product)">
        <img [src]="product.image" alt="{{ product.name }}" />
        <p class="product-name">{{ product.name }}</p>
        <p class="price">{{ product.price | currency: 'VND' }}</p>
      </div>
    </div>
  </div>
</div>
