<div class="container-album1">
  <div class="top-album1">

    <div class="carousel-album1">
      <carousel [interval]="3000" [showIndicators]="true" [isAnimated]="true">
        <slide *ngFor="let slide of slides">
          <img [src]="slide.src" [alt]="slide.title" class="d-block w-100">
          <div class="carousel-caption">
            <h5>{{ slide.title }}</h5>
          </div>
        </slide>
      </carousel>
    </div>


    <h5><a href=""><mat-icon>home</mat-icon></a> Album Bán Áo Quần</h5>
    <p>Danh sách sản phẩm áo quần.</p>
  </div>

  <div class="mid-album1">
    <div class="search-container">
      <input
        #searchInput
        type="text"
        placeholder="Tìm kiếm sản phẩm..."
        (input)="searchProducts(searchInput.value)" />
    </div>

    <div class="product-grid">
      <div *ngFor="let product of filteredProducts" class="product-item" (click)="onSelectProduct(product)">
        <img [src]="product.image" alt="{{ product.name }}" />
        <p class="product-name">{{ product.name }}</p>
        <p class="price">{{ product.price | currency: 'VND' }}</p>
      </div>
    </div>
  </div>
</div>
