<div id="container">
    <h3>Billing information</h3>
    <div id="table-container">
        <div class="wrapper" *ngFor="let bill of billing">
            <div class="header">
                <h5>{{ bill.productName }}</h5>
                <button class="btn" (click)="deleteBilling(bill.id)" >Delete</button>
            </div>
            
            <div class="billing-info">
                <p>User name: {{ bill.userName }}</p>
                <p>Phone: {{ bill.phone }}</p>
                <p>Address: {{ bill.address }}</p>
                <p>Date: {{ bill.date}}</p>
            </div>
        </div>
    </div>
</div>
