<div id="container-res">
  <div id="res">
    <h1 class="gradient-text">Create your account</h1>
    <form id="res-form">
      <!-- Username -->
      <p>Username<span style="color: red">*</span></p>
      <input
        type="text"
        name="username"
        [(ngModel)]="username"
        (blur)="checkUsername()"
        placeholder="Enter Username"
        required
      />
      <span *ngIf="showUsernameError && usernameError" class="error-message">
        <i class="fas fa-exclamation-circle" style="color: red"></i>
        <a style="text-decoration: none">{{ usernameError }}</a>
      </span>

      <!-- Email -->
      <p>Email<span style="color: red">*</span></p>
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        (blur)="checkEmail()"
        placeholder="Enter Email"
        required
      />
      <span *ngIf="showEmailError && emailError" class="error-message">
        <i class="fas fa-exclamation-circle" style="color: red"></i>
        <a style="text-decoration: none">{{ emailError }}</a>
      </span>

      <!-- Password -->
      <p>Password<span style="color: red">*</span></p>
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        (blur)="checkPassword()"
        placeholder="Enter Password"
        required
      />
      <span *ngIf="showPasswordError && passwordError" class="error-message">
        <i class="fas fa-exclamation-circle" style="color: red"></i>
        <a style="text-decoration: none">{{ passwordError }}</a>
      </span>

      <!-- General Error Message -->
      <div *ngIf="errorMessage" class="error-message">
        <i class="fas fa-exclamation-circle" style="color: red"></i>
        <a class="errorrMessage" style="text-decoration: none">
          {{ errorMessage }}
        </a>
      </div>

      <!-- Submit Button -->
      <div id="middle">
        <button mat-flat-button id="res-btn" (click)="onRegister()" type="button">
          Sign up
        </button>
      </div>

      <!-- Terms and Privacy -->
      <div class="checkbox-container">
        <label class="custom-checkbox">
          <input type="checkbox" />
          <span> I agree to all Terms, Privacy Policy, and Fees</span>
        </label>
      </div>

      <!-- Redirect to Login -->
      <div class="haveAccount">
        <p>Already have an account?</p>
        <a href="/login">Log in</a>
      </div>
    </form>
  </div>
</div>
